
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexBoostrap</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Feedback.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="row">
            <div class="col-sm-6">
                <div class="container bg-info ">
                    <h2>Index</h2>
                    <input type="hidden" id="hdnId">
                    <lable>Name</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="txtName" placeholder="Enter your name" class="form-control" />
                    <br>
                    <br>

                    <lable>Number</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="txtNumber" placeholder="Contact number" class="form-control" />
                    <br>
                    <br>

                    <lable>IDANumber</lable>
                    <input type="text" id="txtIDANumber" placeholder="Identity number" class="form-control" />
                    <br>
                    <br>

                    <lable>Address</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<textarea id="txtAddress" rows="2" colms="2" placeholder="Address" class="form-control"></textarea>
                    <br>
                    <br>

                    <lable>Email</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="txtEmail" placeholder="Email id" class="form-control" />
                    <br>
                    <br>

                    <lable>Grade</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="txtGrade" placeholder="Give Feedback here" class="form-control" />
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success" onclick="saveFeedback()">submit</button>

                </div>
            </div>
            <div class="col-sm-6 container-fluid">
                <table border="1" id="tblFeedback" class="table  table-bordered bg-dark ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>IDANumber</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


        </div>
    </div>
</body>
</html>
